@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background: #181620;
  margin: 0;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
  padding: 0 16px;
}

.svg-wrapper {
  height: 60px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
.none {
  display: none;
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.header {
  padding-top: 45px;
}

.sub-menu {
  padding: 10px 15px;
  border: 1px solid #19f6e8;
  background-color: #181620;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 18px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  text-transform: uppercase;
}

.sub-menu-top {
  margin-top: 12px;
}

h1, h2, h3, p {
  color: #fff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.les1__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}
.les1__header {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}
.les1__sub-header {
  margin-bottom: 15px;
}
.les1__img {
  margin-bottom: 30px;
}
.les1__img1 {
  margin-bottom: 30px;
}
.les1__paragraph {
  margin-bottom: 15px;
}

.les1-1 {
  margin-bottom: 30px;
}
.les1-1:last-child {
  margin-bottom: 60px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.homework-heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
}

.homework-table {
  margin-left: 16px;
}

.homework-list {
  list-style: auto;
  color: #fff;
  margin-bottom: 8px;
}

.sub-homework-table {
  list-style: circle;
}