@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@300;400;700&family=Roboto:wght@400;500&display=swap");
:root {
  --swiper-theme-color: #5283FF;
}

html {
  overflow-x: hidden;
}

.conteiner {
  position: relative;
  width: 1206px;
  margin: 0 auto;
}

.bold {
  font-weight: 500;
}

.header {
  padding: 18px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__wrapper2 {
  width: 526px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrapper3 {
  width: 319px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  width: 427px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__link {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #697CA6;
}
.header__link:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #5E81FE;
}
.header__social {
  width: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__btn {
  display: inline-block;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3A79FF;
  padding: 13px 16px;
  background-color: #D2E1FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__btn:hover {
  color: #D2E1FF;
  background-color: #3A79FF;
}

.swiper {
  width: 1441px;
  margin: 0 auto;
}

.section1__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer {
  z-index: 5;
  top: -487px;
  position: absolute;
  width: 578px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}
.offer__sub-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  text-align: center;
  margin-bottom: 16px;
}
.offer__headind {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  color: #3D4F9F;
  text-align: center;
  margin-bottom: 28px;
}
.offer__text {
  width: 502px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  text-align: center;
  margin-bottom: 20px;
}
.section2 {
  padding: 58px 0;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3 {
  background-image: url(/IMG/section2.jpg);
  padding: 170px 0;
}
.section3__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer2 {
  width: 413px;
}
.offer2__sub-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  margin-bottom: 27px;
}
.offer2__heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  margin-bottom: 27px;
}
.offer2__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin-bottom: 47px;
}
.offer2__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.offer2__btn1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  padding: 13px 25px;
  background: #4C85FF;
  -webkit-box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
          box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.offer2__btn1:hover {
  background: #1f53c4;
}
.offer2__btn2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ADB4D2;
  padding: 13px 21px;
  border: 1px solid #D1D1E4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.offer2__btn2:hover {
  border: 1px solid #464646;
  color: #464646;
  font-weight: 700;
}
.offer2__btn-img {
  margin-left: 6px;
}

.section4 {
  background-image: url(/IMG/section4.jpg);
  padding-top: 141px;
  padding-bottom: 171px;
}
.section4__sub-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3D4F9F;
}
.section4__heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 92px;
}
.section4__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section4__btn1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #D43F3F;
  padding: 13px 16px;
  background-color: #FFD7D7;
  margin-right: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section4__btn1:hover {
  color: #FFD7D7;
  background-color: #D43F3F;
}
.section4__btn2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3A79FF;
  padding: 13px 16px;
  background-color: #D2E1FF;
  margin-left: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section4__btn2:hover {
  color: #D2E1FF;
  background-color: #3A79FF;
}
.section4__text-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  color: #ADB3CB;
  margin: 0 16px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 92px;
}

.card {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__logo {
  margin-bottom: 33px;
  width: 69px;
}
.card__heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #4074F8;
  margin-bottom: 25px;
}
.card__paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  color: #ADB3CB;
  text-align: center;
}

.section5__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section5__left {
  padding: 66px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.section5__img {
  margin-bottom: 24px;
}
.section5__img1 {
  position: relative;
  width: 65px;
  right: -192px;
}
.section5__heading1 {
  font-family: "Quicksand";
  font-style: normal;
  text-align: right;
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 27px;
}
.section5__paragraph1 {
  width: 260px;
  text-align: right;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section5__right {
  padding: 66px 0;
  width: 50%;
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}
.section5__heading2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
  color: #5E80FF;
  margin-bottom: 27px;
}
.section5__paragraph2 {
  width: 260px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #5E80FF;
}

.right-wrapper {
  margin-left: 90px;
}

.left-wrapper {
  margin-right: 90px;
}

.section5 {
  padding: 104px 0;
}
.section5__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  text-align: center;
  margin-bottom: 20px;
}
.section5__heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 92px;
}

.swiper2 {
  width: 1154px;
  height: 503px;
}

.swiper-button-next2 {
  background-image: url("../IMG/Vector.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 15px;
  right: 50px;
  margin: auto;
}

.swiper-button-prev2 {
  background-image: url("../IMG/Vector-1.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 15px;
}

.slide {
  width: 958px;
  height: 394px;
  position: relative;
  left: 98px;
}
.slide__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slide__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide__img-sub-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slide__heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  margin-bottom: 35px;
}
.slide__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  width: 408px;
  margin-bottom: 31px;
}
.slide__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide__btn1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #3A79FF;
  padding: 13px 25px;
  background-color: #D2E1FF;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slide__btn1:hover {
  color: #D2E1FF;
  background-color: #3A79FF;
}
.slide__btn2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #A6B6DA;
  padding: 13px 31px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #fff;
}
.slide__btn2:hover {
  border: 1px solid #D43F3F;
  color: #D43F3F;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-button-next2, .swiper-button-prev2 {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.slide__img1 {
  margin-right: 13px;
}

.section6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#EAF0FF), to(#F6F9FF));
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  padding: 108px 0;
}
.section6__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section6__offer {
  position: relative;
  z-index: 2;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EAF0FF), to(#F6F9FF));
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}
.section6__sub-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  margin-bottom: 31px;
}
.section6__heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  margin-bottom: 14px;
}
.section6__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #A4ABC8;
}
.section6__slide-text {
  width: 283px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676F95;
}
.section6__slide-img {
  position: relative;
  width: 62px;
}

.swiper3 {
  width: 100%;
  height: 261px;
}

.swiper-slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 423px;
  height: 175px;
  padding: 47px 70px;
  background-color: #fff;
}

.swiper-pagination3 {
  text-align: right;
}

.section7 {
  padding: 175px 0;
}
.section7__sub-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  text-align: center;
  margin-bottom: 20px;
}
.section7__heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3D4F9F;
  margin-bottom: 68px;
}

.hidden {
  display: none;
}

.list-wrapper::after {
  content: "";
  display: block;
  width: 743px;
  height: 1px;
  background-color: #D8E3FE;
  margin-bottom: 17px;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.list-group-heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #495274;
  margin-bottom: 15px;
}

.list-group-arrow {
  margin-right: 24px;
}

.list-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 743px;
}

.list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin-bottom: 53px;
  margin-left: 55px;
  width: 319px;
}

.list-btn {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #7382A3;
  padding: 13px 33px;
  background: #E8ECF4;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.list-btn:hover {
  background-color: #495274;
  color: white;
}

.section8 {
  background-image: url("../IMG/section8.jpg");
  padding: 91px 0;
}
.section8__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section8__sub-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.section8__heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.section8__span {
  font-weight: 500;
}
.section8__text {
  width: 712px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 48px;
}
.section8__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section8__btn1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #565F82;
  padding: 13px 27px;
  background-color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section8__btn1:hover {
  color: white;
  background-color: #3A79FF;
}
.section8__btn2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #C7D3FF;
  border: 1px solid #A0B4FF;
  padding: 13px 9px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section8__btn2:hover {
  border: 1px solid #9b2121;
}

.section9 {
  padding: 120px 0;
}
.section9__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section9__heading {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #3D4F9F;
  margin-bottom: 18px;
}
.section9__text {
  width: 330px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}
.section9__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section9__input {
  padding: 21px 168px 21px 23px;
  margin-right: 14px;
  background: #e0e0e9;
  border-radius: 5px;
  border: none;
}
.section9__btn {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  padding: 21px 62px;
  border-radius: 5px;
  background: #4D6CE1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section9__btn:hover {
  background-color: #3454c9;
}

.placeholder::-webkit-input-placeholder {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #7A85AD;
}

.placeholder:-moz-placeholder {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #7A85AD;
}

.placeholder::-moz-placeholder {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #7A85AD;
}

.placeholder:-ms-input-placeholder {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #7A85AD;
}

.footer {
  padding: 93px 0;
  border: 1px solid #D8E3FE;
}
.footer__text {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #AEB8D0;
  text-align: center;
}
.footer__block {
  margin-bottom: 36px;
}